@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

 body {
    background: url(assets/background.jpg);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.15);
 }

 .weather-container {
    position: relative;
    padding: 25px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(5px);
 }

.input-group {
    position: relative;
 }

 .cityinput {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 0px;
    background: rgba(255, 255, 255, 0.15);
    font-weight: 400;
    transition: 0.6s background; /* figure this out */
 }

 .cityinput:focus {
    background: rgba(255, 255, 255, 0.35);
 }

 .cityinput:hover {
    background: rgba(255, 255, 255, 0.25);
 }

 .btn-primary {
    border: 0px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin: 10px auto;
    transition: 0.6s background; /* figure this out */
}

 .btn-primary:hover {
    background: rgba(255, 255, 255, 0.55);
    font-weight: 600;
}